<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>

<body>
  <div class="container">
    <div class="card header-category">
      <div class="card-header">
        <h2>Cadastro de artigo</h2>
      </div>

      <div class="card-body">
        <form method="POST" action="/articles/save">
          <input
            class="form-control"
            type="text"
            placeholder="defina o titulo do artigo"
            name="title"
          /><br />

          <textarea
            class="form-control"
            placeholder="Escreva o seu artigo"
            cols="30"
            rows="10"
            name="body"
            id="article"
            class="tinymce"
          ></textarea>
          <label for="" class="label-form">Escolha a categoria</label>
          <select name="category" class="form-control select-category">
            <% categories.forEach((category)=>{%>
            <option value="<%=category.id%>"><%=category.title %></option>
            <%})%>
          </select>
          <button class="btn btn-primary btn-sm btn-form btn-textarea">
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>

<script src="/js/tinymce.js"></script>

